.delete-account-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.delete-account-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F4F8;
}
.delete-account-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.delete-account-container3 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  padding: 15px;
  align-self: center;
  box-shadow: 0px 5px 20px 0px #d4d4d4;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
  border-radius: 12px;
  padding-right: 10px;
  padding-bottom: 10px;
  justify-content: center;
  background-color: #ffffff;
}
.delete-account-lottie-node {
  width: 55px;
  height: 55px;
  margin-right: 10px;
}
.delete-account-text {
  font-size: 2.3rem;
  font-family: Outfit SemiBold;
}
.delete-account-container4 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 20px;
  align-items: flex-start;
}
.delete-account-text1 {
  font-size: 1rem;
  text-align: center;
  font-family: Outfit Medium;
}
