.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F1F4F8;
}
.home-nav {
  top: 0px;
  width: 100%;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.home-container01 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.home-lottie-node {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.home-text {
  font-size: 2rem;
  font-family: Outfit SemiBold;
}
.home-link {
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-family: "Outfit";
  border-width: 0px;
  padding-left: 1.5rem;
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: 1.5rem;
  text-decoration: none;
  background-color: rgb(82, 52, 255);
}
.home-main {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #F1F4F8;
}
.home-home-container {
  gap: var(--dl-space-space-unit);
  max-width: 1000px;
  margin-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.home-text-container {
  flex: 1;
  width: auto;
  max-width: auto;
  align-items: center;
  justify-content: center;
}
.home-container02 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  max-width: 400px;
  align-self: flex-start;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text01 {
  width: 369px;
  font-size: 2.5rem;
  font-family: "Outfit SemiBold";
}
.home-container03 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text02 {
  font-family: "Outfit";
}
.home-container04 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.home-text03 {
  font-family: "Outfit SemiBold";
  margin-left: var(--dl-space-space-fourunits);
}
.home-store-badges {
  margin-top: var(--dl-space-space-halfunit);
}
.home-container05 {
  flex: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image {
  width: 130px;
  opacity: 0.5;
}
.home-container06 {
  flex: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-image1 {
  width: 170px;
  opacity: 0.5;
}
.home-image-container {
  flex: 1;
  width: 100%;
  align-items: center;
  border-width: 0px;
  justify-content: center;
}
.home-image2 {
  width: 80%;
  object-fit: cover;
}
.home-feature-container {
  width: 100%;
  height: auto;
  max-width: 1000px;
  margin-top: var(--dl-space-space-twounits);
  margin-left: var(--dl-space-space-twounits);
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-feature-wrapper {
  width: 100%;
  height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-lottie-node1 {
  width: 50px;
  height: 50px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text04 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Outfit SemiBold";
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text05 {
  text-align: center;
  font-family: "Outfit";
}
.home-feature-wrapper1 {
  width: 100%;
  height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-lottie-node2 {
  width: 50px;
  height: 50px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text06 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Outfit SemiBold";
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text07 {
  text-align: center;
  font-family: "Outfit";
}
.home-feature-wrapper2 {
  width: 100%;
  height: auto;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  border-width: 0px;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: flex-start;
}
.home-lottie-node3 {
  width: 50px;
  height: 50px;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text08 {
  font-size: 1.5rem;
  text-align: center;
  font-family: "Outfit SemiBold";
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-text09 {
  text-align: center;
  font-family: "Outfit";
}
.home-container07 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F1F4F8;
}
.home-container08 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1000px;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container09 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-text10 {
  font-family: "Outfit SemiBold";
}
.home-container10 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-navlink1 {
  font-family: "Outfit SemiBold";
  text-decoration: none;
}
.home-container11 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-navlink2 {
  font-family: "Outfit SemiBold";
  text-decoration: none;
}
.home-container12 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-navlink3 {
  font-family: "Outfit SemiBold";
  text-decoration: none;
}
.home-container13 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  justify-content: flex-start;
}
.home-navlink4 {
  font-family: "Outfit SemiBold";
  text-decoration: none;
}
@media(max-width: 1600px) {
  .home-container {
    width: 100%;
  }
  .home-main {
    width: auto;
    align-items: center;
  }
  .home-home-container {
    margin-top: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 1200px) {
  .home-container {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #F1F4F8;
  }
  .home-home-container {
    gap: var(--dl-space-space-unit);
    width: 100%;
    margin-top: var(--dl-space-space-unit);
  }
  .home-image-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .home-main {
    align-items: center;
  }
  .home-home-container {
    position: relative;
    align-self: center;
    margin-top: var(--dl-space-space-oneandhalfunits);
    align-items: center;
  }
  .home-text-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .home-container02 {
    max-width: auto;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .home-text01 {
    width: auto;
    text-align: center;
  }
  .home-container03 {
    justify-content: center;
  }
  .home-text02 {
    text-align: center;
  }
  .home-container04 {
    justify-content: center;
  }
  .home-text03 {
    margin-left: 0px;
  }
  .home-store-badges {
    justify-content: center;
  }
  .home-image-container {
    width: 70%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
  .home-feature-container {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-feature-wrapper {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-container08 {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-image-container {
    width: 100%;
  }
  .home-container08 {
    align-items: center;
  }
}
